/.idea
/.replxx_history
run.bat
/cache/
/db/
start.bat
/node_modules/
server.cfg
.dll
/.json
ensure.bat
\[maps\]
\[clothes\]
/resources/\[stream\]
resources/\[phone\]/lb-upload/server/previousUrl.txt
*.ini
/resources/\[phone\]
/FXServer
